.inner {
	margin-left: -300px;
	width: 600px; 
}
.outer {
	margin-left: 50%;
	width: 50%;
}

.question {
    font-size: 20px;
    text-align: center;
}

.header {
    font-size: 40px;
    text-align: center;
}
.highlightLine{
	color: black;
	background-color: #477BEA;
}
.prog_bar {
    margin-top: 10px;
}
.btn {
	margin-top: 10px;
}
#surprise {
	margin-left: 30%;
}
body {
	background-color: #eee;
}
h1 {
	text-align: center;
}
.form_auto {
	margin-top: 30px;
}
.btn_registr {
	margin-left: 10px;
}